:root {
    /*--palet_1: #264653;
    --palet_2: #2a9d90;
    --palet_3: #e9c46a;
    --palet_4: #f4a261;
    --palet_5: #e76f51;*/
    --palet_5: #344e41;
    --palet_2: #3a5a40;
    --palet_3: #588157;
    --palet_4: #a3b18a;
    --palet_1: #dad7cd;
    --error_1: #820909;
    --gris: #757D75;
    --header_width: 5rem;
    --header_margin_bord: -8px;
    --header_counter_margin_bord: 8px;
    --header_padding_bord: 2px;
    --header_padding_margin: -2px;
    --checkbox_taille: 1.3rem;

}

@font-face {
    font-family: "Caveat Brush";
    src: url(./font/CaveatBrush-Regular.ttf);
}
@font-face {
    font-family: "Sarabun Thin";
    src: url(./font/Sarabun-Thin.ttf);
}
@font-face {
    font-family: "Sarabun Medium";
    src: url(./font/Sarabun-Medium.ttf);
}
@font-face {
    font-family: "Sarabun Light";
    src: url(./font/Sarabun-Light.ttf);
}
@font-face {
    font-family: "Sarabun Regular";
    src: url(./font/Sarabun-Regular.ttf)
}
@font-face {
    font-family: "Sarabun SemiBold";
    src: url(./font/Sarabun-SemiBold.ttf)
}

.error{
    color:var(--error_1);
    font-family: "Sarabun Thin";
    font-size: 1.5rem;
}

.background_gradient{
    background-image: linear-gradient(var(--palet_2),var(--palet_3),var(--palet_4));
}

/*

HEADER

*/

.header_class{
    background-color: var(--palet_2);
    margin: var(--header_margin_bord);
    padding: var(--header_padding_bord);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo_header{
    width:4.7em;
}

.dark{
    margin: var(--header_padding_margin);
    padding: var(--header_padding_bord);
    width: var(--header_width);

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}

.dark:hover{
    background-color: var(--palet_1);
}

@keyframes dark_animation{
    from {background-color: var(--palet_2);}
    to {background-color: var(--palet_1);}
}

.header_titre_site{
    font-family: "Caveat Brush";
    font-size: 4rem;
    color: var(--palet_1);
}

.header_tite_site_div{
    padding-left: 2rem;
}

.header_barre{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 3px;
    height: 3rem;
    background-color: var(--palet_1);
    border-radius: 100px;
}

.header_menu_div{
    font-family: "Sarabun Thin";
    font-size: 2rem;
    text-decoration: none;
    color: var(--palet_1);
    font-weight: bold;

    border-radius: 15px;
    border: 3px var(--palet_2) solid;
    margin: -15px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 0px;
    padding-bottom: 0px;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.header_menu_div:hover{

    border: 3px solid;
    
}

@keyframes header_menu{
    from {border-color: var(--palet_2);}
    to {border-color: var(--palet_1);}
}

a{
    text-decoration: none;
}


/*

CONNEXION

*/

.fond_connexion{
    /*background-color: var(--palet_3);*/ 
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-top: var(--header_counter_margin_bord);
    margin-left: var(--header_margin_bord);
    margin-right: var(--header_margin_bord);
    height: 200%;
}

.connexion_div{
    width: 70%;
    background-color: var(--palet_4);
    border-radius: 80px;
    padding-bottom: 2rem;
    padding-left: 5%;
}

h1{
    font-family: "Sarabun Thin";
    font-weight: bold;
    font-size: 4rem;
    color: var(--palet_5);
}

h2{
    font-family: "Sarabun Thin";
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--palet_5);
}

.connexion_text{
    width: 60%;
    font-size: 2rem;
    border-radius: 80px;
    padding: 0.5rem;
    font-family: "Sarabun Thin";
    font-weight: bold;
    border: 4px var(--palet_3) solid;
    color: var(--palet_5);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.connexion_text:focus{
    border: 4px var(--palet_5) solid;
    border-radius: 10px;
    outline: none;
}

@keyframes connexion_text_ani{
    from {border: 4px var(--palet_3) solid;
    border-radius: 80px;}
    to {border: 4px var(--palet_5) solid;
    border-radius: 10px;}
}


.connexion_redir{
    font-family: "Sarabun Thin";
    font-size: 1.2rem;
    color: var(--palet_5);
    font-weight:bold;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}


.connexion_button{
    margin-left: 23%;
    font-family: "Sarabun Thin";
    font-size: 2rem;
    color: var(--palet_3);
    font-weight: bold;
    background-color: white;
    border: 4px var(--palet_3) solid;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
    cursor: pointer;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.connexion_button:hover{
    border: 4px var(--palet_5) solid;
    color: var(--palet_5);
    border-radius: 20px;
}

.connexion_button:focus{
    border: 4px var(--palet_5) solid;
    color: var(--palet_5);
    border-radius: 20px;
    outline: none;
}

a:focus{
    outline: none;
}


/*

Footer

*/


.footer_class{
  background-color: var(--palet_2);
  background-image: url(./img/logo.png);
  margin: var(--header_margin_bord);
  padding: var(--header_padding_bord);
  
  position: fixed;
  bottom: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer_print{
  font-family: "Sarabun Thin";
  color: var(--palet_1);
  margin: 5px;
}

.footer_rick{
  color: var(--palet_1);
}

/*

INSCRIPTION

*/

.fond_inscription{
  background-color: var(--palet_3); 
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-top: var(--header_counter_margin_bord);
  margin-left: var(--header_margin_bord);
  margin-right: var(--header_margin_bord);  
}

.inscription_div{
  width: 70%;
  background-color: var(--palet_4);
  border-radius: 80px;
  padding-left: 5%;
  padding-bottom: 2rem;
}


/*

BODY

*/

.body_fond{
  background-color: var(--palet_3);
}

/*

ANNONCE

*/

.annonce_conteneur_flex{
    margin-top: 2rem;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-around;
}

.annonce_conteneur{
    background-color: var(--palet_4);
    border: var(--palet_5) solid 0rem;
    border-radius: 10px;
    padding: 1rem;
    width: 25%;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.annonce_conteneur:hover{
    border: var(--palet_5) solid 0.4rem;
    padding: 0.6rem;
}

.annonce_titre{
    font-family: "Sarabun Medium";
    font-size: 1.9rem;
    color: var(--palet_5);
}

.annonce_barre{
    height: 4px;
    background-color: var(--palet_2);
    width: 95%;
    border-radius: 100px;
    margin-left: 2.5%;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}


.annonce_description{
    font-family: "Sarabun Light";
    color: var(--palet_5);
    font-size: 1.2  rem;
    margin-top: 0.5rem;
}

.annonce_icone{
    width: 1.6rem;
    display: inline-block;
    vertical-align: middle;
}

.annonce_image{
    width: 100%;
}

.annonce_offre{
    font-family: "Sarabun Medium";
    font-size: 1.3rem;
    color:var(--palet_5);
}

.annonce_petite_barre{
    height: 2px;
    background-color: var(--palet_2);
    width: 10%;
    border-radius: 100px;
    margin-left: 0%;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.annonce_description_span{
    font-weight: bold;
}

.annonce_bottom_barre{
    height: 1px;
    background-color: var(--palet_2);
    width: 100%;
    border-radius: 100px;
    margin-left: 0%;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.annonce_pseudo{
    margin-left: 0.5rem;
    font-family: "Sarabun Medium";
    color: var(--palet_5);
    font-size: 1.2  rem;
    margin-top: 0.5rem;
}

.annonce_barre_vert{
    display: inline-block;
    height: 2rem;
    width: 1px;
    background-color: var(--palet_2);
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 1rem;
}

.annonce_div_button{
    margin: -1rem;
    padding: 1rem;
}

/*

RECHERCHE

*/

.recherche_conteneur{
    background-color: var(--palet_4);
    margin: var(--header_margin_bord);
    padding: var(--header_padding_bord);
    margin-top: 8px;
}

.recherche_icon{
    width: 1.6rem;
    display: inline-block;
    vertical-align: middle;
}

.recherche_text_input{
    width: 15%;
    font-family: "Sarabun Medium";
    font-size: 1.5rem;
    background-image: url("../static/img/search_vert.png");
    background-size: 2rem;
    background-position: 0.5rem 0.5rem; 
    background-repeat: no-repeat;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    border: 0.3rem solid;
    border-color: var(--palet_3);
    border-radius: 50px;
    margin: 10px;
    color: var(--palet_5);
    font-weight: 0;
    background-color: var(--palet_4);


    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.recherche_text_input::placeholder{
    color: var(--palet_3);
}

.recherche_text_input:focus{
    width: 58%;
    outline: none;
    border-radius: 10px;
    border-color: var(--palet_2);
    
}

.recherche_button{
    font-family: "Sarabun Medium";
    width: 15%;
    font-size: 1.5rem;

    border: 0.3rem solid;
    border-color: var(--palet_3);
    border-radius: 50px;
    margin: 10px;
    color: var(--palet_3);
    font-weight: 0;
    background-color: var(--palet_4);
    cursor: pointer;

    margin-left: auto;


    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.recherche_button:hover{
    color: var(--palet_2);
    border-color: var(--palet_2);
    border-radius: 10px;
}

.recherche_form_flex{
    display: flex;
    
}

.recherche_checkbox_div{
    margin-left: 1rem;
    margin-top: -0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    
}

.recherche_form_text{
    color: var(--palet_5);
    font-size: 1.8rem;
    font-family: "Sarabun Medium";
}

.recherche_label{
    font-size: var(--checkbox_taille);
    font-family: "Sarabun Medium";
    color: var(--palet_5);
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1.5em auto;
    
    gap: 0.5em;
    cursor: pointer;
}


.recherche_checkbox{
    -webkit-appearance: none;
    appearance: none;

    
	border: 2px solid;
    border-color: var(--palet_5);
	
    background-image: url(../static/img/terrain_vert.png);
    background-size: 0rem;
    background-position: 1rem 1rem; 
    background-repeat: no-repeat;

	padding: 0.9rem;
	border-radius: 5px;
	display: inline-block;
	
    margin-top: -4px;
    margin-bottom: 0.5rem;
    cursor:pointer;

    filter: grayscale(0%);
    filter: opacity(40%);
    

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    
}

.recherche_checkbox:hover{
    filter: opacity(100%);
}

.recherche_checkbox:checked {
    
    border-radius: 20px;

    filter: grayscale(0%);
    filter: opacity(100%);
    background-size: 1.6rem;
    background-position: 1px 1px; 

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.recherche_barre{
    background-color: var(--palet_2);
    border-radius: 10px;
    height: 7rem;
    margin-inline: 0rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 4px;
}

/*

PAGE NUMERO

*/

.page_conteneur{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.page_contenu{
    background-color: var(--palet_4);
    border-radius: 20px;
    display: flex;
    
}

.page_numero{
    padding: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    font-family: "Sarabun Medium";
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--palet_5);
}

.page_barre{
    
    background-color: var(--palet_5);
    height: auto;
    width: 3px;
}

.page_numero:hover{
    background-color: var(--palet_3);

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/*

MEET

*/

.meet_grand_conteneur{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 80vh;
    
}

.meet_conteneur_contact{
    width: 29%;
    border: 5px solid;
    border-color: var(--palet_2);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--palet_4);
    overflow-y:scroll;
    overflow-x:hidden;
}

.meet_conteneur_message{
    width: 70%;
    border: 5px solid;
    margin-left: -0.4rem;
    border-color: var(--palet_2);
    border-top-right-radius: 0px;
    background-color: var(--palet_4);

    display: flex;
    flex-flow:column;    
}

.meet_div_contact{
    margin-right: -1px;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.meet_div_contact:hover{
    background-color: var(--palet_3);
    color: var(--palet_4);

    
}

.meet_nom_contact{
    padding-left: 5%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-family: "Sarabun Medium";
    font-size: 2rem;
    font-weight: bold;
    color: var(--palet_5);

    word-wrap: break-word;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.meet_nom_contact:hover{
    color:var(--palet_4);
}



.meet_contact_barre{
    width: 90%;
    height: 5px;
    background-color: var(--palet_2);
    margin-left: 5%;
    border-radius: 100px;
}

.meet_contact_titre{
    font-family: "Sarabun Medium";
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--palet_5);
    padding-left: 5%;
    padding-bottom: 0.4rem;
    margin-top: -30px;
}

.meet_message{
    width: 80%;
    font-family: "Sarabun Medium";
    font-size: 1.2rem;

    resize: none;
    height: 3rem;

    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    border: 5px solid;
    border-color: var(--palet_2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 2px;
    margin-top: 4px;
    color: var(--palet_5);
    font-weight: 0;
    background-color: var(--palet_4);


    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.meet_message:focus{
    outline: none;
}

.meet_message::placeholder{
    color: var(--palet_3);
}

.meet_message_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.meet_refresh{
    
    width: 3rem;
    height: 3rem;
    border: var(--palet_2) solid 4px;
    border-radius: 10px;
    background-image: url(../static/img/refresh_vert.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 0.5rem 0.5rem;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.meet_refresh:hover{
    border-radius: 22px;
}

.meet_submit{
    appearance: none;
    width: 3.5rem;
    height: 3.5rem;
    border: var(--palet_2) solid 4px;
    background-color: var(--palet_4);
    border-radius: 10px;
    background-image: url(../static/img/send_vert.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 0.5rem 0.5rem;
    cursor: pointer;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.meet_submit:hover{
    border-radius: 22px;
}

.meet_message_barre{
    width: 100%;
    margin-left: 0px;
    background-color: var(--palet_2);
    height: 4px;
    margin-top: 3px;
}

.meet_message_scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    flex-grow: 1;
}

.meet_message_envoye_conteneur{
    display: flex;
    justify-content: right;
    margin: 1rem;
}

.meet_message_envoye{
    width: 40%;
    background-color: var(--palet_5);
    color: var(--palet_4);
    border-radius: 30px;
    padding: 1rem;
    font-family: "Sarabun Medium";
    font-size: 1.3rem;
    
    
    word-wrap: break-word;
    white-space: pre-line;

}

.meet_message_recu_conteneur{
    display: flex;
    justify-content: left;
    margin: 1rem;
}

.meet_message_recu{
    width: 40%;
    background-color: var(--palet_4);
    border-color: var(--palet_3);
    border: 5px solid;
    color: var(--palet_5);
    border-radius: 30px;
    padding: 1rem;
    font-family: "Sarabun Medium";
    font-size: 1.3rem;
    
    
    word-wrap: break-word;
    white-space: pre-line;

}

.meet_message_pseudo{
    font-weight: bold;
    font-size: 1.5rem;

    word-wrap: break-word;
}

.meet_message_date{
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

/*

MES ANNONCES

*/

.mes_annonces_titre{
    margin-left: -8px;
    margin-top: 8px;
    width: 100vw;
    text-align: center;
    font-family: "Sarabun Medium";
    font-size: 2rem;
    background-color: var(--palet_4);
    color: var(--palet_5);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*

DESCRIPTION ANNONCE

*/

.desc_ligne{
    margin-bottom: 0.4rem;
}

.desc_conteneur_flex{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.desc_conteneur{
    background-color: var(--palet_4);
    width: 80vw;
    border-radius: 100px;
}

.desc_contenu{
    margin-left: 4rem;
    margin-right: 4rem;

}

.desc_conteneur_image{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.desc_image{
    width: 50%;
}

.desc_titre{
    margin-top: 1rem;
    font-family: "Sarabun SemiBold";
    font-size: 3rem;
    font-weight: bold;
    color: var(--palet_5)
}

.desc_barre_titre{
    width: 90%;
    margin-left: -1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 100px;
    background-color: var(--palet_5);
    height: 5px;
}

.desc_annonceur{
    font-family: "Sarabun Light";
    font-size: 1.5rem;
    color:var(--palet_5);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.desc_description{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Sarabun Regular";
    font-size: 1.6rem;
    color: var(--palet_5);
    text-align: justify;
}

.desc_offre{
    font-family: "Sarabun Medium";
    font-size: 1.6rem;
    color:var(--palet_5);
}

.desc_icone{
    width: 2.6rem;
    display: inline-block;
    vertical-align: middle;    
}

.desc_petite_barre{
    width: 40%;
    height: 3px;
    background-color: var(--palet_5);
    border-radius: 100px;
    margin-left: -1rem;

}

.desc_longue_barre{
    width: 100%;
    height: 3px;
    background-color: var(--palet_5);
    border-radius: 100px;
    margin-left: -1rem;
}

.desc_bouton{
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-content: center;
    font-family: "Sarabun Medium";
    font-size: 2rem;
    color: var(--palet_4);
    padding: 0.8rem;
    border-radius: 20px;
    background-color: var(--palet_5);
}

.desc_bouton_flex{
    display: flex;
    justify-content: center;
}

/*

CREATION ANNONCE

*/

.crea_conteneur_flex{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.crea_conteneur_background{
    border-radius: 30px;
    background-color: var(--palet_4);
    width: 75%;
    padding: 2rem;
}

.crea_titre{
    font-family: "Sarabun Medium";
    font-weight: bold;
    font-size: 3rem;
    color: var(--palet_5);
}

.crea_barre_delimitation{
    height: 5px;
    width: 80%;
    margin-left: -1rem;
    background-color: var(--palet_2);
    border-radius: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.crea_label{
    font-family: "Sarabun Regular";
    font-size: 2rem;
    color: var(--palet_5);
    font-weight: bold;
    cursor: pointer;
}

.crea_input{
    font-family: "Sarabun Medium";
    font-size: 1.5rem;
    border: solid 4px;
    border-color: var(--palet_2);
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    color: var(--palet_5);
    font-weight: bolder;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    background-color: var(--palet_1);

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.crea_input:focus{
    width: 90%;
    outline: none;
    border-radius: 15px;
}

.crea_textarea{
    font-family: "Sarabun Medium";
    font-size: 1.5rem;
    border: solid 4px;
    resize: none;
    height: 3rem;
    width: 30%;
    color: var(--palet_5);
    font-weight: bolder;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    border-color: var(--palet_2);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: var(--palet_1);

    margin-top: 0.2rem;
    margin-bottom: 1rem;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.crea_textarea:focus{
    outline: none;
    height: 8rem;
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.crea_select{
    font-family: "Sarabun Medium";
    font-size: 1.5rem;
    border: solid 4px;
    border-color: var(--palet_2);
    border-radius: 25px;
    padding: 5px;
    width: 32%;
    color: var(--palet_5);
    font-weight: bolder;
    background-color: var(--palet_1);
    cursor: pointer;

    margin-top: 0.2rem;
    margin-bottom: 1rem;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.crea_select:focus{
    outline: none;
    border-radius: 15px;
}

.crea_input::-webkit-outer-spin-button,
.crea_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.crea_input[type=number] {
    -moz-appearance: textfield;
}

.crea_file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.crea_file_label{
    font-family: "Sarabun Medium";
    font-size: 1.5rem;
    border: solid 4px;
    border-color: var(--palet_2);
    border-radius: 25px;
    padding: 5px;
    color: var(--palet_5);
    font-weight: bolder;
    background-color: var(--palet_1);
    cursor: pointer;


    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.crea_file_label:hover{
    border-radius: 15px;
}

.crea_espace{
    margin: 1rem;
}

.crea_button{
    font-family: "Sarabun Medium";
    font-size: 2rem;
    border: solid 4px;
    border-color: var(--palet_2);
    border-radius: 40px;
    padding: 8px;
    color: var(--palet_5);
    font-weight: bolder;
    background-color: var(--palet_1);
    margin-top: 2rem;
    cursor: pointer;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.crea_button:hover{
    border-radius: 20px;
}

.crea_flex_center{
    display: flex;
    justify-content: center;
}

/*

PROFILE

*/

.pro_conteneur_flex{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.pro_conteneur_background{
    border-radius: 30px;
    background-color: var(--palet_4);
    width: 75%;
    padding: 2rem;
}

.pro_titre{
    font-family: "Sarabun Medium";
    font-weight: bold;
    font-size: 3rem;
    color: var(--palet_5);
}

.pro_barre_delimitation{
    height: 5px;
    width: 80%;
    margin-left: -1rem;
    background-color: var(--palet_2);
    border-radius: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.pro_lien{
    font-family: "Sarabun Regular";
    font-size: 2rem;
    color: var(--palet_5);
    font-weight: bold;
    cursor: pointer;
    border-bottom: 0px solid;
    border-color: var(--palet_5);

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.pro_lien:hover{
    border-bottom: 4px solid;
}

.pro_div_lien{
    margin-bottom: 1.5rem;
}

.pro_flex_center{
    display: flex;
    justify-content: center;
}

.pro_button{
    background-color: var(--error_1);
    color: var(--palet_1);
    font-family: "Sarabun Medium";
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;

    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.pro_button:hover{
    border-radius: 15px;
}

/*

MODIF

*/

.modif_button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-content: center;
    font-family: "Sarabun Medium";
    font-weight: bolder;
    font-size: 2rem;
    color: var(--palet_1);
    padding: 0.8rem;
    border-radius: 20px;
    background-color: var(--error_1);
}

.modif_des{
    background-color: var(--palet_2);
}