<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Pota'Gist - Acceuil</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="static/img/logo.png" type="image/x-icon">
  </head>
  <body class="body_fond">
    <header class="header_class">
        <a href="/" style="margin-left: 1rem;"><div class="dark"><img src="../static/img/logo.png" class="logo_header"/></div></a>
        <a href="/"><div class="header_tite_site_div"><span class="header_titre_site">Pota'Gist</span></div></a>
        <div class="header_barre"></div>
        <a href="/annonces">
          <div class="header_menu_div">Annonces</div>
        </a>
        <div class="header_barre"></div>
        <a href="/discussions">
          <div class="header_menu_div">Discussion</div>
        </a>
        <div class="header_barre"></div>
        <a href="/connexion">
          <div class="header_menu_div">Connexion</div>
        </a>
        <div class="header_barre"></div>
        <a href="/inscription">
          <div class="header_menu_div">Inscription</div>
        </a>
        <div class="header_barre"></div>
      </header>

      <div class="recherche_conteneur">
        <form method="post" action="/annonce_recherche" autocomplete="off" >
          <div class="recherche_form_flex">
            <input type="text" name="recherche" placeholder="Recherche..." spellcheck="false" class="recherche_text_input" autofocus />
            <input type="text" name="code_postal" placeholder="Code Postal" class="recherche_text_input" spellcheck="false" style="background-image: url(../static/img/location_vert.png);" />
            <input type="submit" class="recherche_button" value="Rechercher"/>
          </div>

          <div class="recherche_form_flex">
            <div class="recherche_checkbox_div">
              <div class="recherche_form_text">L'annonceur offre :</div>
  
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" />Terrain</label>
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" style="background-image: url(../static/img/argent_vert.png);" />Monnaie</label>
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" style="background-image: url(../static/img/legume_vert.png);" />Produits</label>

            </div>

            <div class="recherche_barre"></div>

            <div class="recherche_checkbox_div">
              <div class="recherche_form_text">L'annonceur reçoit :</div>
  
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" />Terrain</label>
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" style="background-image: url(../static/img/argent_vert.png);" />Monnaie</label>
              <label class="recherche_label"><input type="checkbox" name="offre_terrain" id="offre_terrain" class="recherche_checkbox" style="background-image: url(../static/img/legume_vert.png);" />Produits</label>

            </div>
          </div>

          
        </form>
      </div>

      
      <div class="annonce_conteneur_flex">
        
          <div class="annonce_conteneur">
            <a href="/annonce_detail/312144"><div class="annonce_div_button">
              <div class="annonce_titre">bitttoooo</div>
              <div class="annonce_barre"></div>
              <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
              <br/>
              <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
              
              <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
              <div class="annonce_petite_barre"></div>

              <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

              <div class="annonce_bottom_barre"></div>
              <div>
                <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
                <div class="annonce_barre_vert"></div>
                <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
              </div>
            </div></a>
          </div>

          <div class="annonce_conteneur">
            <a href="/annonce_detail/312144"><div class="annonce_div_button">
              <div class="annonce_titre">bitttoooo</div>
              <div class="annonce_barre"></div>
              <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
              <br/>
              <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
              
              <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
              <div class="annonce_petite_barre"></div>

              <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

              <div class="annonce_bottom_barre"></div>
              <div>
                <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
                <div class="annonce_barre_vert"></div>
                <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
              </div>
            </div></a>
          </div>

          <div class="annonce_conteneur">
            <a href="/annonce_detail/312144"><div class="annonce_div_button">
              <div class="annonce_titre">bitttoooo</div>
              <div class="annonce_barre"></div>
              <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
              <br/>
              <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
              
              <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
              <div class="annonce_petite_barre"></div>

              <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

              <div class="annonce_bottom_barre"></div>
              <div>
                <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
                <div class="annonce_barre_vert"></div>
                <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
              </div>
            </div></a>
          </div>
        
          


      </div>

      <div class="annonce_conteneur_flex">
        
        <div class="annonce_conteneur">
          <a href="/annonce_detail/312144"><div class="annonce_div_button">
            <div class="annonce_titre">bitttoooo</div>
            <div class="annonce_barre"></div>
            <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
            <br/>
            <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
            
            <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
            <div class="annonce_petite_barre"></div>

            <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

            <div class="annonce_bottom_barre"></div>
            <div>
              <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
              <div class="annonce_barre_vert"></div>
              <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
            </div>
          </div></a>
        </div>

        <div class="annonce_conteneur">
          <a href="/annonce_detail/312144"><div class="annonce_div_button">
            <div class="annonce_titre">bitttoooo</div>
            <div class="annonce_barre"></div>
            <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
            <br/>
            <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
            
            <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
            <div class="annonce_petite_barre"></div>

            <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

            <div class="annonce_bottom_barre"></div>
            <div>
              <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
              <div class="annonce_barre_vert"></div>
              <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
            </div>
          </div></a>
        </div>

        <div class="annonce_conteneur">
          <a href="/annonce_detail/312144"><div class="annonce_div_button">
            <div class="annonce_titre">bitttoooo</div>
            <div class="annonce_barre"></div>
            <span class="annonce_offre"><img src="../static/img/terrain_vert.png" class="annonce_icone" title="Terrain"/> Patrick Offre du terrain</span>
            <br/>
            <span class="annonce_offre"><img src="../static/img/argent_vert.png" class="annonce_icone" title="Argent"/> Patrick Reçoit de la monnaie</span>
            
            <div class="annonce_description"><span class="annonce_description_span">Description : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>
            <div class="annonce_petite_barre"></div>

            <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nunc mauris, vitae mattis libero cursus sed. Vivamus at enim sed erat consequat mollis vitae quis purus. Integer nec ullamcorper nunc. Proin scelerisque, sapien eu vulputate faucibus, felis nulla aliquet augue, nec pretium urna orci at nibh...</div>

            <div class="annonce_bottom_barre"></div>
            <div>
              <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">Patrick</span>
              <div class="annonce_barre_vert"></div>
              <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">20/11/2022</span>
            </div>
          </div></a>
        </div>
      
        


    </div>
      
      <footer class="footer_class" >
        <span class="footer_print">©Pota'Gist | Site de petites annonces en lien avec le potager | Non affilié à <a class="footer_rick" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Telecom Nancy</a></span>
      </footer>
  </body>
</html>