{% extends "base.html" %}
{% block titre %}Annonce{% endblock %}
{% block contenu %}

<div class="recherche_conteneur">
  <form method="post" autocomplete="off" >
    <div class="recherche_form_flex">
      <input type="text" name="recherche" placeholder="Recherche..." spellcheck="false" class="recherche_text_input" autofocus />
      <input type="text" name="code_postal" placeholder="Code Postal" class="recherche_text_input" spellcheck="false" style="background-image: url(../static/img/location_vert.png);" />
      <input type="submit" class="recherche_button" value="Rechercher"/>
    </div>

    <div class="recherche_form_flex">
      <div class="recherche_checkbox_div">
        <div class="recherche_form_text">L'annonceur offre :</div>

        <label class="recherche_label"><input type="checkbox" name="offre" id="terrain" value="terrain" class="recherche_checkbox" />Terrain</label>
        <label class="recherche_label"><input type="checkbox" name="offre" id="argent" value="argent" class="recherche_checkbox" style="background-image: url(../static/img/argent_vert.png);" />Argent</label>
        <label class="recherche_label"><input type="checkbox" name="offre" id="produits" value="produits" class="recherche_checkbox" style="background-image: url(../static/img/produits_vert.png);" />Produits</label>

      </div>

      <div class="recherche_barre"></div>

      <div class="recherche_checkbox_div">
        <div class="recherche_form_text">L'annonceur reçoit :</div>

        <label class="recherche_label"><input type="checkbox" name="contrepartie" id="terrain" value="terrain" class="recherche_checkbox" />Terrain</label>
        <label class="recherche_label"><input type="checkbox" name="contrepartie" id="argent" value="argent" class="recherche_checkbox" style="background-image: url(../static/img/argent_vert.png);" />Argent</label>
        <label class="recherche_label"><input type="checkbox" name="contrepartie" id="produits" value="produits" class="recherche_checkbox" style="background-image: url(../static/img/produits_vert.png);" />Produits</label>

      </div>
    </div>

    
  </form>
</div>



<div class="annonce_conteneur_flex">
  {% for i in data %}
  {% if i[7] != 1 %}
    <div class="annonce_conteneur">
      <a href="/annonces/{{i[0]}}"><div class="annonce_div_button">
        <div class="annonce_titre">{{i[1]}}</div>
        <div class="annonce_barre"></div>
        <span class="annonce_offre"><img src="../static/img/{{i[9]}}_vert.png" class="annonce_icone" title="{{i[9]}}"/> {{i[2]}} offre : {{i[9]}}</span>
        <br/>
        <span class="annonce_offre"><img src="../static/img/{{i[6]}}_vert.png" class="annonce_icone" title="{{i[6]}}"/> {{i[2]}} reçoit : {{i[6]}}</span>
        
        <div class="annonce_description"><span class="annonce_description_span">Description : </span>{{i[4]}}</div>
        <div class="annonce_petite_barre"></div>

        <div class="annonce_description"><span class="annonce_description_span">Contrepartie : </span>{{i[3]}}</div>

        <div class="annonce_bottom_barre"></div>
        <div>
          <img src="../static/img/user_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">{{i[2]}}</span>
          <div class="annonce_barre_vert"></div>
          <img src="../static/img/clock_vert.png" title="Utilisateur" class="annonce_icone"/><span class="annonce_pseudo">{{i[8]}}</span>
        </div>
      </div></a>
    </div>
  {% endif %}
  {% endfor %}
</div>


<div class="page_conteneur" ><div class="page_contenu" >
  <a href="page1 A MODIFIER" ><div class="page_numero" >
    1
  </div></a>
  <div class="page_barre"></div>
  <a href="page1 A MODIFIER" ><div class="page_numero" >
    2
  </div></a>
  <div class="page_barre"></div>
  <a href="page1 A MODIFIER" ><div class="page_numero" >
    3
  </div></a>
  <div class="page_barre"></div>
  <a href="page1 A MODIFIER" ><div class="page_numero" >
    ...
  </div></a>
  <div class="page_barre"></div>
  <a href="page1 A MODIFIER" ><div class="page_numero" >
    45
  </div></a>
</div></div>
      
{% endblock %}