<div class="desc_conteneur_flex"><div class="desc_conteneur"><div class="desc_contenu">
    {% if type == 2 %}
      <div class="desc_bouton_flex"><div class="contrat_with">Contrat entre {{data_annonce[0][11]}} et {{data_annonce[0][12]}} </div></div>
      {% if contrat_type == 1 %}
        <div class="center_flex"><div class="desc_titre">Accepter la demande de contrat de {{data_annonce[0][11]}}</div></div>
        <div class="cont_div_bouton">
          <a href="/validation_contrat/{{data_annonce[0][10]}}"><img class="cont_bouton_ic" src="../static/img/check_vert.png" /></a>
          <div class="cont_separateur"></div>
          <a href="/supprimer_contrat/{{data_annonce[0][10]}}"><img class="cont_bouton_ic cont_nop" src="../static/img/close_vert.png" /></a>
        </div>
      {% elif contrat_type == 2 %}
        <div class="center_flex"><div class="desc_titre">Supprimer votre demande de contrat</div></div>
        <div class="cont_div_bouton">
          <a href="/supprimer_contrat/{{data_annonce[0][10]}}"><img class="cont_bouton_ic cont_nop" src="../static/img/close_vert.png" /></a>
        </div>
      {% else %}
      <div class="center_flex"><div class="desc_titre">Contrat en application</div></div>
      <div class="cont_div_bouton"></div>

      {% endif %}
    {% endif %}
  
    <div class="desc_titre">
      {{data_annonce[0][1]}}
    </div>
    <div class="desc_barre_titre"></div>
    <div class="desc_annonceur">Proposé par {{data_annonce[0][2]}} le {{data_annonce[0][8]}}</div>
    <div class="desc_ligne"><span class="desc_offre"><img src="../static/img/{{data[0][9]}}_vert.png" class="desc_icone" title="{{data[0][9]}}"/> {{data_annonce[0][2]}} offre : {{data_annonce[0][9]}}</span></div>
    <div class="desc_ligne"><span class="desc_offre"><img src="../static/img/{{data_annonce[0][6]}}_vert.png" class="desc_icone" title="{{data_annonce[0][6]}}"/> {{data_annonce[0][2]}} reçoit : {{data_annonce[0][6]}}</span></div>
    <div class="desc_description" >
      <strong>Description :</strong> {{data_annonce[0][4]}}
    </div>
    <div class="desc_petite_barre"></div>
    <div class="desc_description" >
      <strong>Contrepartie :</strong> {{data_annonce[0][3]}}
    </div>
    <div class="desc_conteneur_image">
    <img src="../static/photos/{{data_annonce[0][0]}}.jpg" class="desc_image"/></div>
    {% if type == 0 %}
      {% if userid is not none and userid != data_annonce[0][2] %}
        <div class="desc_longue_barre"></div>
        <div class="desc_bouton_flex"><a href="/commencer_discussion/{{data_annonce[0][2]}}"><div class="desc_bouton">Commencer à discuter avec {{data_annonce[0][2]}}</div></a></div>
        <div class="desc_bouton_flex"><a href="/creation_contrat/{{data_annonce[0][0]}}"><div class="desc_bouton desc_contrat">Proposer le contrat</div></a></div>
      {% endif %}
    {% elif type == 1 %}
      <div class="desc_longue_barre"></div>
      <div class="desc_bouton_flex"><a href="/archivage/{{data_annonce[0][0]}}">
      {% if data_annonce[0][7] == 0 %}
        <div class="modif_button">Archiver l'annonce</div>
      {% else %}
        <div class="modif_button modif_des">Dé-Archiver l'annonce</div>
      {% endif %}
      </a></div>
    {% endif %}
</div></div></div>