{% extends "base.html" %}
{% block contenu %}

<div class="fond_connexion">
<div class="connexion_div">
    <form method="POST" action="/connexion" autocomplete="off">
      <h1>Connexion</h1>
      <div style="margin-left: 3rem;">
      <h2>Pseudo</h2>
      <input class="connexion_text" type="text" name="pseudo" spellcheck="false" autofocus required />
      <h2>Mot de Passe</h2>
      <input class="connexion_text" spellcheck="false" type="password" name="password" required /><br/>
      <div style="margin-top: 1rem;"><a href="/inscription" class="connexion_redir">Créer un compte ici</a></div>
      <input type="submit" class="connexion_button" value="Connexion"/>
      </div>
    </form>
    {% if error %}
    <p class="error">Les identifiants renseignés ne sont pas valides, ou ce compte n'existe pas</p>
    {% endif %}
</div>
</div>
<link href="/inscription" rel="import" />

{% endblock %}