{% extends "base.html" %}
{% block titre %}Création Annonce{% endblock %}
{% block contenu %}

<div class="crea_conteneur_flex">
  <div class="crea_conteneur_background">
    <div class="crea_titre">Ajout d'une annonce</div>
    <div class="crea_barre_delimitation"></div>
    <form action="/annonceform" method="post" autocomplete="off" enctype="multipart/form-data">
      <label for="name" class="crea_label">Nom de l'annonce :</label>
      <br />
      <input type="text" id="name" name="name" class="crea_input" required />
      <br />
      <label for="description" class="crea_label">Description :</label>
      <br />
      <textarea id="description" class="crea_textarea" name="description"></textarea>
      <br />
      <label for="cat_desc" class="crea_label">Catégorie de la description :</label>
      <br />
      <select id="cat_desc" name="cat_desc" class="crea_select">
        <option value="argent">Argent</option> 
        <option value="terrain">Accès au terrain</option>
        <option value="produits">Produits</option>
      </select>
      <br />
      <label for="contrepartie" class="crea_label">Contrepartie :</label>
      <br />
      <textarea type="text" id="contrepartie" class="crea_textarea" name="contrepartie"></textarea> 
      <br />
      <label for="cat_cntrp" class="crea_label">Catégorie de la contrepartie :</label>
      <br />
      <select id="cat_cntrp" class="crea_select" name="cat_cntrp">
        <option value="argent">Argent</option>
        <option value="terrain">Accès au terrain</option>
        <option value="produits">Produits</option>
      </select>
      <br />
      <label for="code_postal" class="crea_label">Code postal :</label>
      <br />
      <input type="number" id="code_postal" name="code_postal" class="crea_input" required />
      <br />
      <label for="image" class="crea_label">Image :</label>
      <br />
      <div class="crea_espace"></div>
      <label for="image" class="crea_file_label">Choisissez un fichier</label>
      <br />
      <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" required class="crea_file" />
      <br />
      <div class="crea_flex_center">
        <input type="submit" value="Créer l'annonce" class="crea_button" />
      </div>
    </form>
  </div>
</div>
{% endblock %}