<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Pota'Gist - {% block titre %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
    </head>

    <body class="body_fond">
      <header class="header_class">
                <a href="/" style="margin-left: 1rem;"><div class="dark"><img src="../static/img/logo.png" class="logo_header"/></div></a>
                <a href="/"><div class="header_tite_site_div"><span class="header_titre_site">Pota'Gist</span></div></a>
                <div class="header_barre"></div>
                <a href="/annonces">
                <div class="header_menu_div">Annonces</div>
                </a>
                <div class="header_barre"></div>
                <a href="/discussions">
                <div class="header_menu_div">Discussion</div>
                </a>
                <div class="header_barre"></div>
                <a href="/connexion">
                <div class="header_menu_div">Connexion</div>
                </a>
                <div class="header_barre"></div>
                <a href="/inscription">
                <div class="header_menu_div">Inscription</div>
                </a>
                <div class="header_barre"></div>
      </header>
        
      <div class="desc_conteneur_flex"><div class="desc_conteneur"><div class="desc_contenu">
          <div class="desc_titre">
            Le titre de malade
          </div>
          <div class="desc_barre_titre"></div>
          <div class="desc_annonceur">Proposé par JEAN DU JARDIN le 10/12/2022</div>
          <span class="desc_offre"><img src="../static/img/terrain_vert.png" class="desc_icone" title="{{i[9]}}"/> {{i[2]}} offre : {{i[9]}}</span>
          <br/>
          <span class="desc_offre"><img src="../static/img/terrain_vert.png" class="desc_icone" title="{{i[6]}}"/> {{i[2]}} reçoit : {{i[6]}}</span>
          <div class="desc_description" >
            <strong>Description :</strong> je mange des fruites et j'adore ça ceci est une description tel un lorem ipsum pour savoir si ça rends bien dans ce putain de conteneur de ses morts, j'ai envie de crever, s'il vous plait achever moi
          </div>
          <div class="desc_petite_barre"></div>
          <div class="desc_description" >
            <strong>Contrepartie :</strong> je mange des fruites et j'adore ça ceci est une description tel un lorem ipsum pour savoir si ça rends bien dans ce putain de conteneur de ses morts, j'ai envie de crever, s'il vous plait achever moi
          </div>
          <div class="desc_longue_barre"></div>
          <div class="desc_bouton_flex"><a href="/commencer_discussion/le userid du gars"><div class="desc_bouton">Commencer à discuter avec Jean Du Jardin</div></a></div>
      </div></div></div>

      <footer class="footer_class" >
          <span class="footer_print">©Pota'Gist | Site de petites annonces en lien avec le potager | Non affilié à <a class="footer_rick" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Telecom Nancy</a></span>
      </footer>
    </body>

</html>


