{% extends "base.html" %}
{% block titre %}Acceuil{% endblock %}
{% block contenu %}

<div class="ind_flex_prez">
  <div class="ind_cont_prez">
    <div class="ind_prez">Venez échanger autour du potager.</div>
    <div class="ind_sous_titre">Des petites annonces sur des terrains et produits du jardin en troc autour de chez vous.
      <br/><a class="a_text" href="/annonces">Découvrer-les en cliquant ici !</a>
    </div>
  </div>
  <div class="ind_prez_image">
    <img src="../static/img/ind_legume.png" class="ind_image"/>
  </div>

</div>
<div class="ind_fond_blanc">
  <!--
  <div class="ind_flex_icon">
    <div class="ind_cont_icon">
      <img class="ind_icon" src="../static/img/produits_vert.png" />
    </div>
    <div class="ind_cont_icon">
      <img class="ind_icon" src="../static/img/argent_vert.png" />
    </div>
    <div class="ind_cont_icon">
      <img class="ind_icon" src="../static/img/terrain_vert.png" />
    </div>
  </div> -->


  <div class="ind_flex_prez ">
    <div class="ind_cont_image">
      <img src="../static/img/ind_pousse.png" class="ind_image" />
    </div>
    <di class="ind_white_cont">
      <div class="ind_prez ind_dark">Trouvez ce qu'il vous faut.</div>
      <div class="ind_sous_titre ind_dark">Des discussions libres afin de convenir au meilleur accord
        <br/><a class="a_text ind_dark" href="/inscription">Inscrivez-vous ici !</a>
      </div>
    </div>
  </div>
</div>

<div class="ind_flex_prez">
  <div class="ind_cont_prez">
    <div class="ind_prez">Tout cela proche de chez vous.</div>
    <div class="ind_sous_titre">Avec Pota'Gist, vous favorisez le local et le circuit court !
    </div>
  </div>
  <div class="ind_prez_image">
    <img src="../static/img/ind_agriculture.png" class="ind_image"/>
  </div>


{% endblock %}