<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Pota'Gist - Acceuil</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/img/logo.png" type="image/x-icon">
  </head>
  <body class="body_fond">
    <header class="header_class">
        <a href="/" style="margin-left: 1rem;"><div class="dark"><img src="static/img/logo.png" class="logo_header"/></div></a>
        <a href="/"><div class="header_tite_site_div"><span class="header_titre_site">Pota'Gist</span></div></a>
        <div class="header_barre"></div>
        <a href="/annonces">
          <div class="header_menu_div">Annonces</div>
        </a>
        <div class="header_barre"></div>
        <a href="/discussions">
          <div class="header_menu_div">Discussion</div>
        </a>
        <div class="header_barre"></div>
        <a href="/mesannonces">
          <div class="header_menu_div">Mes Annonces</div>
        </a>
        <div class="header_barre"></div>
        <a href="/profil"> <!--Ici, il faudra mettre profil/utilisateur, mais pour ça il faut gérer les cookies, je pense-->
          <div class="header_menu_div">Mon Profil</div>
        </a>
        <div class="header_barre"></div>
      </header>
      
      <footer class="footer_class" >
        <span class="footer_print">©Pota'Gist | Site de petites annonces en lien avec le potager | Non affilié à <a class="footer_rick" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Telecom Nancy</a></span>
      </footer>
  </body>
</html>