{% extends "base.html" %}
{% block titre %}Inscription{% endblock %}
{% block contenu %}
    
<div class="fond_inscription">
<div class="inscription_div">
    <form method="post" action="/inscription" autocomplete="off">
      <h1>Inscription</h1>
      <div style="margin-left: 3rem;">
        <h2>Pseudo</h2>
        <input class="connexion_text" type="text" name="pseudo" spellcheck="false" autofocus required />
        <h2>Code Postal</h2>
        <input class="connexion_text" spellcheck="false" type="text" name="code_postal" required />
        <h2>Mot de Passe</h2>
        <input class="connexion_text" spellcheck="false" type="password" name="password" required /><br/>
        <div style="margin-top: 1rem; margin-bottom: 1rem;"><a href="/connexion" class="connexion_redir">Déjà un compte ? Se connecter ici</a></div>
        <input type="submit" class="connexion_button" value="Inscription  "/>
      </div>
    </form>
    {% if usrnerror %}
    <p class="error">Ce nom d'utilisateur est déjà pris</p>
    {% endif %}
    {% if pcerror %}
    <p class="error">Ce code postal n'existe pas</p>
    {% endif %}
</div>
</div>

{% endblock %}