{% extends "base.html" %}
{% block titre %}Mes Contrats{% endblock %}
{% block contenu %}
<div class="cont_display_flex">
  <div class="cont_conteneur">
    <div class="cont_titre">Les demandes de contrats</div>
  </div>
</div>

{% set affiche = False %}
{% set redirection = "mescontrats" %}

{% set data_annonce = data_incoming %}
{% set contrat = 1 %}

{% include "base_annonce.html" %}


<div class="cont_display_flex">
  <div class="cont_conteneur">
    <div class="cont_titre">Vos contrats en attente d'acceptation</div>
  </div>
</div>

{% set data_annonce = data_attente %}
{% set contrat = 2 %}

{% include "base_annonce.html" %}

<div class="cont_display_flex">
  <div class="cont_conteneur">
    <div class="cont_titre">Listes de vos contrats en cours</div>
  </div>
</div>

{% set data_annonce = data_cours %}
{% set contrat = 3 %}

{% include "base_annonce.html" %}

<div class="cont_bot"></div>
{% endblock %}