{% extends "base.html" %}
{% block titre %}Description Annonce{% endblock %}
{% block contenu %}

<div class="desc_conteneur_flex"><div class="desc_conteneur"><div class="desc_contenu">
    <div class="desc_titre">
      {{data[0][1]}}
    </div>
    <div class="desc_barre_titre"></div>
    <div class="desc_annonceur">Proposé par {{data[0][2]}} le {{data[0][8]}}</div>
    <div class="desc_ligne"><span class="desc_offre"><img src="../static/img/{{data[0][9]}}_vert.png" class="desc_icone" title="{{data[0][9]}}"/> {{data[0][2]}} offre : {{data[0][9]}}</span></div>
    <div class="desc_ligne"><span class="desc_offre"><img src="../static/img/{{data[0][6]}}_vert.png" class="desc_icone" title="{{data[0][6]}}"/> {{data[0][2]}} reçoit : {{data[0][6]}}</span></div>
    <div class="desc_description" >
      <strong>Description :</strong> {{data[0][4]}}
    </div>
    <div class="desc_petite_barre"></div>
    <div class="desc_description" >
      <strong>Contrepartie :</strong> {{data[0][3]}}
    </div>
    <div class="desc_conteneur_image">
    <img src="../static/photos/{{data[0][0]}}.jpg" class="desc_image"/></div>
    <div class="desc_longue_barre"></div>
    {% if contrat_type == 2 %}
      <div class="desc_bouton_flex"><div class="contrat_with">Contrat en lien avec </div></div>
    {% else %}
    
    {% endif %}

</div></div></div>
{% endblock %}

