{% extends "base.html" %}
{% block titre %}Profil{% endblock %}
{% block contenu %}

<div class="pro_conteneur_flex">
  <div class="pro_conteneur_background">
    <div class="pro_titre">Votre Profil - {{userid}}</div>
    <div class="pro_barre_delimitation"></div>
    <div class="pro_div_lien" ><a href="/discussions"  class="pro_lien">• Vos Discussions</a></div>
    <div class="pro_div_lien"><a href="/mesannonces"  class="pro_lien">• Vos Annonces</a></div>
    <div class="pro_div_lien"><a href="/crea_annonce"  class="pro_lien">• Création d'une Annonce</a></div>
    <div class="pro_div_lien"><a href="/mescontrats"  class="pro_lien">• Vos Contrats</a></div>

    <div class="pro_flex_center">
      <a href="/deconnexion"><div class="pro_button">Déconnexion</div></a>
    </div>
  </div>
</div>  

{% endblock %}


